body {
  background-color: #FCF5EB; /* This is a pale blue color */
  /* Other styles */
}


body {
  background: url('/img/') no-repeat center center scroll; 
  background-size: contain;
  background-color: #FCF5EB; /* Or set a fallback color */
  padding-top: 0px; /* Adjust this value if your navbar height is different */
  margin: 0; /* Remove default margin */
  height: 100vh; /* Set the body to at least the height of the viewport */
  overflow-x: hidden; /* Prevent horizontal scroll */
}



.second-background-image {
  background: url('/img/home-bg1.png') no-repeat center center scroll;
  background-size: 90%;

  height: 900px; /* Adjust height as needed */
  margin-top: 100vh; /* Push down by the viewport's height or the height of the first background */
}
